
<html>
<head>
<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<!-- 부가적인 테마 -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
</head>

<body>
<a href="{% url 'home' %}">home</a>
{% if user.is_active %}
<li><a href="{% url 'workinfo' %}">근무표 작성</a></li>
<li><a href="{% url 'logout' %}">근무표 출력</a></li>
<li><a href="{% url 'logout' %}">환경설정</a></li>
<li><a href="{% url 'logout' %}">로그아웃</a></li>
{{user.username}}님 로그인중입니다.<br>
{% else %}
<li><a href="{% url 'login' %}">로그인</a></li>
<li><a href="{% url 'signup' %}">회원가입</a></li>
{% endif %}
</body>

</html>
