<a href="{% url 'home' %}">home</a>
{{user.username}}님 로그인중입니다.<br>
<!--검색창-->
<form name="workinfo" method="post" action="{% url 'worksearch' %}">
	{% csrf_token %}
<table class="worksearch" border="1">
<tbody>
<tr align="center">
	<td name="searchYear" >검색년</td>
	<td>검색월</td>
	<td>사원명</td>

</tr>

<tr>
	{% if usrs %}
		{% for usrs in usrs.all%}
	<td>{{usrs.USR_TIMEINF}}</td>
	<td>{{usrs.USR_TIMEINF}}</td>
	<td>{{usrs.USRNAME}}</td>
		{% endfor %}
	{% else %}
	<td>
		<input type="text" name="searchYear" size="20" style="width:100%; border:0;">

	</td>
	<td>
		<input type="text" name="searchMonth" size="20"  style="width:100%; border:0;">
	</td>
	<td>
		<input type="text" name="searchName" size="20" style="width:100%; border:0;">

	</td>
	<button type="submit">검색</button>
	{% endif %}

</tr>

</tbody>
</table>
</form>
<br>
<!--근무표 입력-->
<form name="workadd" method="post" action="{% url 'workadd' %}">
		{% csrf_token %}
<table class="workadd" border="1" bordercolor="black"  align="Left">
<thead align="center" >
	<tr>
		<th>일자</th>
		<th>출근시간</th>
		<th>퇴근시간</th>
	</tr>
</thead>
<tbody>
	{% if workList %}
		{% for worktime in workList%}
			{{worktime}}<br>
		{% endfor %}
	{% else %}
		{% if Date %}
			{% for Date in Date%}
			<tr>
				<td name="date">{{Date}}</td>
				<td><input type="text" name="sTime" size="20" style="width:100%; border:0;"></td>
				<td><input type="text" name="dTime" size="20" style="width:100%; border:0;"></td>
			{% endfor %}
			</tr>
		{% endif %}
		<input type="hidden" name="user" value="{{user.username}}">
	{% endif %}
	<button type="submit">작성</button>
</tbody>
</table>
</form>